<table class="node-overview">
    <tr>
        <th>
            frontend
        </th>
        <th>
            backend
        </th>
    </tr>
    <tr>
        <td>
            {{ template "node.html.tmpl" .self }}
        </td>
        <td>
            {{ template "node.html.tmpl" .backend }}
        </td>
    </tr>
</table>